{%extends 'layout.html' %}{% block content %}
<title>bone</title>
<img src="https://www.nonthavej.co.th/upload/content/1252/image2_20190815105434.png">
<h1>กระดูกพรุน ดูแลก่อน ป้องกันได้</h1>
<p>กระดูกพรุนเป็นภาวะที่เกิดขึ้นในกลุ่มของคนปกติซึ่งบ่งบอกว่าตนเองกำลังย่างเข้าสู่วัยชรา ผู้ป่วยบางรายไม่ทราบว่าตนเองมีภาวะดังกล่าว จนกระทั่งเกิดภาวะแทรกซ้อน หรือกระดูกบางส่วนมีการทรุดหัก ซึ่งภาวะที่พบกระดูกหักนั้นเป็นการตระหนักได้ว่า กระดูกไม่ได้รับการดูแล ไม่ได้ซ่อมแซมและไม่ได้ปรับปรุงคุณภาพในระยะเวลาอันควร จนทำให้กระดูกขาดความแข็งแรงและไม่สามารถทนแรงกระแทกได้ แม้ว่าจะเป็นการล้มเพียงเบาๆ หรือสะดุดก็อาจทำให้กระดูกหักหรือหักป่นจนยากที่จะซ่อมแซม</p>

<h4><span style="color:#000000"><strong>ป้องกันกระดูกพรุนในวัยทองได้อย่างไร?</strong></h4>

<ol>
<li>การออกกำลังกายที่สมวัย การบริหารฝึกการทรงตัวที่พอเหมาะ</li>
<li>การสร้างกล้ามเนื้อให้แข็งแรง การรับประทานอาหารที่มีแคลเซียม</li>
<li>การหลีกเลี่ยงอาหารและเครื่องดื่ม ที่มีส่วนผสมคาเฟอีน และแอลกอฮอล์</li>
</ol>

<p style="text-align:center"><img alt="#ศูนย์ออร์โธปิดิกส์ #โรงพยาบาลศิริราช ปิยมหาราชการุณย์ #กระดูกหัก #โรคกระดูกพรุน #โรคกระดูก #โรควัยชรา #ป้องกันกระดูกพรุน #วิธีรักษาโรคกระดูกพรุน #ตรวจโรคกระดูกพรุน #กระดูกพรุน อาการ #กระดูกพรุน กินอะไรดี" class="img-fluid" longdesc="#ศูนย์ออร์โธปิดิกส์ #โรงพยาบาลศิริราช ปิยมหาราชการุณย์ #กระดูกหัก #โรคกระดูกพรุน #โรคกระดูก #โรควัยชรา #ป้องกันกระดูกพรุน #วิธีรักษาโรคกระดูกพรุน #ตรวจโรคกระดูกพรุน #กระดูกพรุน อาการ #กระดูกพรุน กินอะไรดี" src="https://siph-space.sgp1.digitaloceanspaces.com/media/upload/43795843_xxl_600.jpg" style="height:267px; width:400px"></p>

<h4><span style="color:#000000"><strong>วิธีการรักษา</strong></h4>

<p>ปัจจุบันมีการรักษาโรคกระดูกพรุนด้วยยาและฮอร์โมน ซึ่งใช้สำหรับผู้ที่ได้รับการวินิจฉัยว่าเป็นโรคกระดูกพรุนเท่านั้น ทั้งในโรคกระดูกพรุนปฐมภูมิ และทุติยภูมิ โดยที่การรักษาควรอยู่ภายใต้การดูแลของแพทย์ผู้เชี่ยวชาญโดยเฉพาะ</p>

<h4><span style="color:#000000"><strong>ข้อปฏิบัติหากสงสัยว่าเป็นโรคกระดูกพรุน</strong></h4>

<p>หากท่านมีความสงสัยว่าตนเองมีความเสี่ยงภาวะกระดูกพรุน ควรไปพบแพทย์เพื่อตรวจร่างกายและในบางกรณีอาจต้องมีการวัดมวลกระดูกรวมทั้งการตรวจโลหิต เพื่อวินิจฉัยภาวะแทรกซ้อนอันเป็นเหตุให้เกิดการละลายของกระดูกเร็วก่อนวันอันควร รวมทั้งการตรวจพิเศษบางประเภท เพื่อช่วยในการหาความเสี่ยงต่อโรคกระดูกพรุนทุติยภูมิ</p>


{% endblock%}