{%extends 'layout.html' %}{% block content %}
<title>Brain</title>
<h1>อาการเตือนภาวะสมองเสื่อม</h1>
<img style="width:40%" src="http://sukumvithospital.com/uploadimages/skhimg34590.jpg">
    <p style="text-indent: 5%;">โรคสมองเสื่อม เป็นกลุ่มอาการผิดปกติของการทำงานขั้นสูงของสมอง ได้แก่ ความจำ การใช้เหตุผล ทักษะในการใช้อุปกรณ์ต่าง ๆ การใช้ภาษารวมทั้งมีการเปลี่ยนแปลงของบุคลิกภาพและพฤติกรรม ซึ่งมักมีอาการเกิดขึ้นหลาย ๆ อาการร่วมกัน โดยความผิดปกติที่กล่าวมานั้นเป็นมากจนกระทั่งผู้ป่วยมีปัญหาในการทำงานและการใช้ชีวิตประจำวัน โดยที่อาการดังกล่าวไม่ได้เป็นอาการที่เกิดจากโรคทางจิตเวช</p>
    <h4>สาเหตุของโรคสมองเสื่อม</h4>
    <p style="text-indent: 5%;">สาเหตุหลักของกล่มอาการโรคมองเสื่อม ได้แก่ ความเสื่อมของเซลล์ประสาทสมอง ซึ่งโรคที่รู้จักกันดี ได้แก่ โรคอัลไซเมอร์และภาวะสมองเสื่อมจากโรคหลอดเลือดสมอง ซึ่งเป็นกลุ่มโรคที่ไม่สามารถรักษาให้หายขาดได้ แต่อาจชะลอการดำเนินโรคได้ ส่วนสาเหตุอื่น ๆ ที่ทำให้เกิดภาวะสมองเสื่อม ที่ไม่ได้เกิดจากความเสื่อมของเซลล์ประสาทสมองโดยตรง เป็นโรคที่ได้รับการรักษาแล้วสามารถหยุดการดำเนินโรคหรือระกษาให้หายขาดได้ เช่น โรคสมองอักเสบ เนื้องอกในสมอง ภาวะน้ำในโพรงสมองผิดปกติ ภาวะสมองเสื่อมจากการดื่มสุรา การขาดฮอร์โมน เกลือแร่ หรือวิตามินบางชนิด และการรับประทานยาบางชนิดเป็นเวลานาน เป็นต้น</p>
    <h4>อาการเตือน “ภาวะสมองเสื่อม”</h4>
    <p style="text-indent: 5%;">อาการเริ่มต้นของโรคสมองเสื่อมที่รู้จักกันทั่วไป ได้แก่  อาการหลงลืม โดยในระยะเริ่มแรกอาจจะยังไม่เป็นปัญหาต่อการทำงานหรือการใช้ชีวติ ซึ่งเราเรียกภาวะนี้ว่า Mild Cognitive Impairment โดยลักษณะของผู้ที่มีภาวะนี้ ได้แก่</p>
    <ul class="post">
        <li>มีอาการหลงลืมในสิ่งที่เพิ่งได้คุยกัน</li>
        <li>การทำงานหรือการตัดสินใจช้าลง</li>
    </ul>
    <p style="text-indent: 5%;">ส่วนผู้ป่วยที่เริ่มเป็นโรคสมองเสื่อมจะมีอาการหลงลืมที่มากขึ้น เช่น</p>
    <ul class="post">
        <li>มีอาการถามซ้ำ หรือพูดคุยในเรื่องที่ได้พูดไปแล้วบ่อย ๆ</li>
        <li>จำชื่อญาติสนิท หรือชื่อสิ่งของที่ใช้ในชีวิตประจำวันไม่ได้</li>
        <li>ทำของหายบ่อย ๆ</li>
        <li>เลิกสนใจในสิ่งที่เคยชอบ เป็นต้น</li>
    </ul>
    <p style="text-indent: 5%;">ถ้าผู้ป่วยมีอาการมากขึ้น จะมีการนอนหลับ การตื่นที่ผิดเวลา ไม่สามารถประกอบกิจวัตรประจำวันบางอย่างได้อย่างถูกต้อง เช่น การแต่งตัว ทำอาหาร ขับรถ อาจมีอาการลืมในสิ่งที่เพิ่งได้ทำไป เช่น</p>
    <ul>
        <li>ลืมว่ารับประทานอาหารไปแล้ว</li>
        <li>ลืมว่าเพิ่งได้ไปสถานที่ใดมา</li>
        <li>หลงทางเมื่ออยู่ในสถานที่ที่ไม่คุ้นเคย</li>
        <li>ผู้ป่วยบางรายอาจไม่สามารถอ่านหรือเขียนหนังสือได้อย่างถูกต้อง ใช้คำผิดในการสนทนา</li>
        <li>มีการตัดสินใจที่ผิดพลาดในสิ่งที่สามารถเป็นอันตรายต่อผู้ป่วยเพราะขาดความยั้งคิด</li>
        <li>ผู้ป่วยอาจมีภาพหลอนหรืออาการหลงผิด เช่น คิดว่าจะมีคนเข้ามาขโมยของในบ้าน</li>
    </ul>
    <p style="text-indent: 5%;">ส่วนผู้ป่วยที่มีอาการมากจะไม่สามารถประกอบกิจวัตรประจำวันด้วยตัวเองได้ ต้องมีคนคอยช่วยเหลือ เช่น อาบน้ำ แต่งตัว รับประทานอาหาร มีความผิดปกติในการเคลื่อนไหว และไม่สามารถจำสมาชิกในครอบครัวได้ เป็นต้น</p>
    <h4>การวินิจฉัยโรคสมองเสื่อม</h4>
    <p style="text-indent: 5%;">ประวัติที่ได้จากญาติหรือผู้ดูแลเป็นสิ่งสำคัญโดยเฉพาะอาการของความผิดปกติแรกเริ่มที่เกิดขึ้นจะเป็นประโยชน์อย่างมาก ร่วมกับการตรวจร่างกายและเลือกการส่งตรวจทางห้องปฏิบัติการที่เหมาะสม เพื่อให้การวินิจฉัยแยกโรคที่ถูกต้องว่าผู้ป่วยเป็นโรคสมองเสื่อมหรือไม่ และมีสาเหตุจากอะไร นอกจากการตรวจร่างกายแล้วจะมีการทดสอบผู้ป่วยด้วยแบบทดสอบระดับพุทธิปัญญาของผู้ป่วยแบบสั้น ซึ่งเรียกว่า Mini Mental State Examination เพื่อประเมินความรุนแรงของอาการสมองเสื่อม ส่วนการตรวจทางห้องปฏิบัติการ เป็นการตรวจเพื่อหาสาเหตุที่ทำให้เกิดอาการสมองเสื่อมหรือทำให้อาการสมองเสื่อมเป็นมากขึ้น ประกอบด้วย การตรวจเลือดต่าง ๆ การตรวจภาพสมองด้วยเครื่อง Computed Tomography (CT) หรือ Magnetic Resonance Imaging (MRI) และการตรวจน้ำไขสันหลัง เป็นต้น</p>
    <h4>การรักษาโรคสมองเสื่อม</h4>
    <p style="text-indent: 5%;">การรักษานั้นขึ้นอยู่กับสาเหตุเป็นหลัก โดยผู้ป่วยที่ภาวะสมองเสื่อมเกิดจากความเสื่อมของเซลล์ประสาท การรักษาจะประกอบด้วยการให้ยาที่ทำให้อาการของผู้ป่วยดีขึ้นและชะลอการดำเนินโรคให้ช้าลง ซึ่งมักจะได้ผลกับผู้ป่วยในระยะเริ่มแรก ร่วมกับการให้ยารักษาอารมณ์และพฤติกรรมที่ผิดปกติในผู้ป่วยที่มีอาการรุนแรง ส่วนผู้ป่วยที่มีภาวะสมองเสื่อมเกิดจากสาเหตุอื่น ๆ ที่ไม่ได้เกิดจากความเสื่อมของเซลล์ประสาทนั้น จะเป็นการรักษาสาเหตุของโรคเป็นหลัก</p>
    <h4>ลดปัจจัยเสี่ยง เลี่ยงโรคสมองเสื่อม</h4>
    <p style="text-indent: 5%;">เนื่องจากปัจจุบัน สาเหตุของโรคสมองเสื่อมที่เกิดจากการเสื่อมของเซลล์ประสาทสมอง เช่น อัลไซเมอร์ ยังไม่เป็นที่ทราบแน่ชัด ดังนั้น การป้องกันโรคสมองเสื่อมดังกล่าวทำได้เพียงการลดปัจจัยเสี่ยงที่มีความสัมพันธ์กับโรคสมองเสื่อม เช่น การออกกำลังกายและมีกิจกรรมทำอย่างสม่ำเสมอ การเล่นเกมส์ การฝึกสมอง การรักษาโรคความดันโลหิตสูง โรคเบาหวาน โรคไขมันในเลือดสูง เป็นต้น</p>

{% endblock %}