{%extends 'layout.html' %}{% block content %}

<title>Dental</title>
<h1>โรคฟันผุ</h1>
<h4>โรคฟันผุเป็นโรคที่ไม่ควรชะล่าใจ เพราะหากไม่รีบรักษาอาจสูญเสียฟันในที่สุด<br>
    <br>
    สาเหตุของโรค</h4>
    <p>เกิดจากเชื้อโรคที่พบได้ตามปกติในช่องปากทำการย่อยสลายอาหารจำพวกแป้งและน้ำตาล เกิดเป็นกรด ซึ่งทำให้เกิดการทำลายโครงสร้างของฟัน หากปล่อยทิ้งไว้โดยไม่ทำการรักษาจะลุกลามเพิ่มขึ้นจนทำให้ฟันแตกเป็นรู เป็นช่อง และถ้าลุกลามมากขึ้นอีกจะก่อให้เกิดความเจ็บปวดหรือฟันเป็นหนอง และอาจต้องถอนฟันนั้นในที่สุด</p>
    <p>&nbsp;</p>
    <h4>ความรุนแรง</h4>
    <ul>
        <li>โรคฟันผุจะลุกลามจากเคลือบฟันไปเนื้อฟัน ซึ่งหากยังไม่ทะลุถึงโพรงประสาทฟันจะสามารถรักษาได้โดยการกำจัดส่วนที่ผุแล้วอุดฟันบูรณะส่วนที่ถูกทำลาย</li>
        <li>โรคฟันผุที่ไม่ได้รับการรักษาจะมีการลุกลามต่อเนื่องไปถึงโพรงประสาทฟัน จะเกิดการอักเสบไปที่รากฟัน ซึ่งต้องรักษาโดยการรักษารากฟันหรือถอน</li>
    </ul>
    <h3>&nbsp;</h3>
    <h4>อาการฟันผุ</h4>
    <ul>
        <li>ฟันผุระยะแรก สีเป็นขาวขุ่นหรือน้ำตาล ผิวไม่เรียบ<br>
    <br>
    </li>
        <li>เมื่อมีการลุกลามมากขึ้นจะเริ่มแตกออกเป็นรูผุ<br>
    <br>
    </li>
        <li>ฟันผุที่มีการลุกลามจะสูญเสียเนื้อฟันมากขึ้น การรักษาจะมีความซับซ้อนและเสียค่าใช้จ่ายเพิ่มขึ้น
    
    <p>&nbsp;</p>
    </li>
    </ul>
    <div class="cke_widget_wrapper cke_widget_block cke_widget_image cke_image_nocaption" tabindex="-1" role="region" contenteditable="false" data-cke-widget-wrapper="1" data-cke-filter="off" data-cke-display-name="image" data-cke-widget-id="0" aria-label="cad12009ffff17e43cc93aed132f0420.jpg  image widget">
    <p data-cke-widget-data="%7B%22hasCaption%22%3Afalse%2C%22src%22%3A%22%2Fsites%2Fdefault%2Ffiles%2Finline-images%2Fcad12009ffff17e43cc93aed132f0420_0.jpg%22%2C%22alt%22%3A%22cad12009ffff17e43cc93aed132f0420.jpg%20%22%2C%22width%22%3A%22100%25%22%2C%22height%22%3A%22%22%2C%22lock%22%3Atrue%2C%22align%22%3A%22center%22%2C%22data-entity-type%22%3A%22file%22%2C%22data-entity-uuid%22%3A%22f3afd631-734b-44ce-809d-16fff6e5b16e%22%2C%22classes%22%3Anull%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="image"><span class="cke_image_resizer_wrapper"><img src="https://bgh.sgp1.digitaloceanspaces.com/old-site/inline-images/cad12009ffff17e43cc93aed132f0420_0.jpg" alt="cad12009ffff17e43cc93aed132f0420.jpg " width="100%" data-cke-saved-src="https://bgh.sgp1.digitaloceanspaces.com/old-site/inline-images/cad12009ffff17e43cc93aed132f0420_0.jpg"><span class="cke_image_resizer" title="Click and drag to resize">​</span></span></p>
    <span class="cke_reset cke_widget_drag_handler_container" style="background: rgba(220,220,220,0.5); background-image: url('https://www.bangkokhospital.com/core/assets/vendor/ckeditor/plugins/widget/images/handle.png');"><img loading="lazy" class="cke_reset cke_widget_drag_handler" title="Click and drag to move" role="presentation" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" width="15" height="15" data-cke-widget-drag-handler="1"></span></div>
    <h4>ตรวจวินิจฉัย</h4>
    <p>นอกจากจะมองด้วยตา สัมผัสโดยเครื่องมือแล้ว วิธีที่แนะนำเป็นมาตรฐานอีกวิธีหนึ่งคือการถ่ายภาพรังสีเอกซเรย์ (X-RAY) เนื่องจากจะทำให้สามารถพบฟันผุในตำแหน่งที่ตามองไม่เห็นและยังบอกความลึกของการลุกลามของโรคฟันผุได้ด้วย<br>
    <br>
    </p>
    <h4>รักษาโรคฟันผุ</h4>
    <p>การรักษาจะเริ่มจากกำจัดส่วนที่ผุแล้วทำการอุดฟันหรือบูรณะทดแทนฟันส่วนที่ถูกทำลายด้วยวัสดุอุดชนิดต่าง ๆ เช่น อมัลกัม เรซิน คอมโพสิต ทอง เซรามิก แต่หากมีการลุกลามจนสูญเสียเนื้อฟันมากอาจต้องทำการครอบฟัน หรือหากทะลุโพรงประสาทฟันต้องรักษารากฟัน</p>
    <ul>
        <li>การอุดฟันด้วยอมัลกัม มีความแข็งแรง ทนทาน</li>
        <li>การอุดฟันด้วยเรซินคอมโพสิต มีความสวยงาม&nbsp;</li>
    </ul></div>

{% endblock%}