{%extends 'layout.html' %}{% block content %}

<title>Digestive System</title>
<h1>โรคระบบทางเดินอาหาร</h1>
&nbsp; &nbsp;ระบบทางเดินอาหาร เป็นส่วนหนึ่งของอวัยวะในร่างกาย มีหน้าที่เกี่ยวข้องกับการย่อยอาหาร การดูดซึม
และการขับถ่าย โดยระบบทางเดินอาหารจะเริ่มตั้งแต่ ปาก คอหอย กระเพาะอาหาร ลำไส้ ตับ ถุงน้ำดี
และตับอ่อนก็อาจจัดอยู่ในระบบนี้ด้วย สำหรับโรคที่พบบ่อยในระบบทางเดินอาหารมีดังนี้

<br><strong>อันดับ </strong><strong>1:โรคกระเพาะอาหาร</strong>
<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
จะมีอาการแสดงออกมาในลักษณะของ การปวดจุกแน่นใต้ลิ้นปี่
เหนือสะดือ ปวดใต้ชายโครงซ้าย บางรายปวดแน่นถึงหน้าอก อาการมักเป็นๆ หายๆ และสัมพันธ์กับมื้ออาหาร
อาจปวดก่อนทานอาหารในเวลาหิว หรือปวดหลังอาหารเวลาอิ่ม อาการเหล่านี้จะดีขึ้นได้เมื่อรับประทานอาหาร
หากโรคนี้รุนแรงขึ้นอาจมีอาเจียนเป็นเลือด ถ่ายอุจจาระเป็นสีดำ หรือเบื่ออาหาร น้ำหนักลดปัจจัยที่ทำให้เกิดโรคกระเพาะอาหาร
คือ
<ul>
    <li>เชื้อแบคทีเรีย เฮลิโคแบคเตอร์ ไพโลโร ซึ่งติดต่อได้จากการรับประทานอาหารหรือดื่มน้ำที่ไม่สะอาดปนเชื้อโรคชนิดนี้
        ทำให้เกิดแผลกระเพาะอาหารและมะเร็งกระเพาะอาหารบางชนิดได้</li>
    <li>ยาแก้ปวดข้อ ปวดกระดูก (Aspirin และ NSAID) รวมถึงยารักษาสิวอาจทำให้เป็นแผลในกระเพาะอาหาร
        ในหลอดอาหารจนอักเสบมากขึ้น</li>
    <li>การสูบบุหรี่ ดื่มเหล้า ทำให้อัตราการเป็นแผลในกระเพาะอาหารเพิ่มขึ้นแผลหายช้า หรือเป็นเรื้อรังได้ง่าย
        ส่งผลให้ตอบสนองต่อการรักษาด้วยยาไม่ดีนัก</li>
    <li>ภาวะเครียด รับประทานอาหารเผ็ด หรือไม่ตรงเวลา</li>
    <li>ติดเชื้อทางเดินอาหาร เช่น ท้องเสีย อาหารเป็นพิษ</li>
</ul>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
อาการปวดท้องที่ควรพบแพทย์ทันที เช่น ถ่ายดำ หรือถ่ายมีเลือดปน น้ำหนักลด ตัวซีด เหลือง
(ดีซ่าน) ปวดรุนแรงนานเป็นชั่วโมง มีอาเจียนรุนแรงติดต่อกัน หรืออาเจียนมีเลือดปน เจ็บ หรือกลืนลำบาก
มีประวัติครอบครัวป่วยเป็นโรคกระเพาะอาหาร คลำก้อนในท้องได้ หรือต่อมน้ำเหลืองโต<br>
<img src="https://www.paolohospital.com/Resource/Image/Article/156889399_269382544702493_2265196311799016795_n.jpg">
<br>
หากผู้ป่วยที่มีอาการปวด จุก แน่นท้อง จุกเสียด แสบท้อง มานานไม่เกิน 2 สัปดาห์ สามารถดูแลตัวเองเบื้องต้น
คือรับประทานยาลดกรดในกระเพาะอาหาร งดบุหรี่ งดเหล้า งดอาหารรสเผ็ด รับประทานอาหารให้ตรงเวลา ออกกำลังกาย
และงดกินยาแก้ปวดข้อ ปวดกระดูกโดยไม่จำเป็น แต่หากอาการไม่ดีขึ้นหลังปฏิบัติตามข้างต้น หรืออาการเป็นมานานกว่า 1
เดือน จนถึงมีอาการเตือนที่สำคัญตั้งแต่ต้น จำเป็นต้องได้รับการวินิจฉัยเพิ่มเติม
เพื่อส่องกล้องตรวจกระเพาะอาหารว่า มีแผล เนื้องอกและมะเร็ง หรือไม่<br>

<strong>อันดับที่ 2: โรคกรดไหลย้อน</strong>
<br></span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>
คือภาวะที่กรดหรือน้ำย่อยในกระเพาะอาหารไหลย้อนมาในหลอดอาหาร ทำให้เกิดการอักเสบของหลอดอาหาร
ผู้ป่วยจะมีอาการปวดแสบร้อนบริเวณหน้าอก และลิ้นปี่ ที่เรียกว่า Heart Burn บางครั้งอาจจะร้าวไปที่คอ
&nbsp;รู้สึกว่ามีก้อนอยู่ในคอ กลืนลำบาก หรือกลืนแล้วเจ็บ มีอาการเจ็บคอ หรือแสบลิ้นเรื้อรัง
โดยเฉพาะในตอนเช้ารู้สึกเหมือนมีรสขมของน้ำดี หรือมีรสเปรี้ยวของกรดในคอ หรือปาก มีเสมหะอยู่ในคอ
หรือระคายคอตลอดเวลา เรอบ่อย คลื่นไส้ และรู้สึกจุกแน่นอยู่ในหน้าอก คล้ายอาหารไม่ย่อย
หากอาการรุนแรงอาจส่งผลให้เสียงแหบเรื้อรัง หรือแหบเฉพาะตอนเช้า หรือมีเสียงผิดปกติจากเดิม มีอาการไอเรื้อรัง
รู้สึกสำลักในเวลากลางคืน กระแอม ไอบ่อย &nbsp;มีอาการหอบหืดที่แย่ลงทุกวัน เจ็บหน้าอก รวมถึงเป็นโรคปอดอักเสบเป็นๆ
หายๆ&nbsp;พฤติกรรมที่เสี่ยงเป็นกรดไหลย้อน เช่น ดื่มสุรา อ้วน สูบบุหรี่ ชอบทานอาหารรสเปรี้ยว เผ็ด อาหารมักดอง
อาหารมัน อาหารย่อยยาก ทานอาหารมากจนอิ่มเกินไป ชอบทานช็อกโกแลต กาแฟ น้ำอัดลม เครียด ชอบอาหารมัน ของทอด ชอบทานหอม
กระเทียม และมะเขือเทศ<img
    src="https://www.paolohospital.com/Resource/Image/Article/156181948_880103376101403_6770827948088524685_n.jpg">
<h3><strong>เมื่อเป็นแล้วรักษาอย่างไร</strong></h3>
<ul>
    <li>ลดน้ำหนักสำหรับผู้ที่มีน้ำหนักเกิน เพราะคนอ้วนจะมีความดันในช่องท้องสูงทำให้กรดไหลย้อนได้มาก</li>
    <li>งดบุหรี่เพราะการสูบบุหรี่จะทำให้เกิดกรดมาก และหูรูดอ่อนแรง</li>
    <li>ใส่เสื้อหลวมๆ</li>
    <li>งดอาหารก่อนนอน 3 ชั่วโมง</li>
    <li>งดอาหารมันๆ อาหารทอด อาหารที่ปรุงด้วยหัวหอม กระเทียม มะเขือเทศ ช็อกโกแลต ถั่ว ลูกอม เนย ไข่ อาหารรสเผ็ด เปรี้ยว
        เค็มจัด</li>
    <li>รับประทานอาหารพออิ่ม</li>
    <li>หลีกเลี่ยงชา กาแฟ น้ำอัดลม เบียร์ สุรา</li>
    <li>นอนให้ศีรษะในระดับสูง ประมาณ 6-10 นิ้ว โดยหนุนที่ขาเตียง ไม่ควรใช้หมอนหนุนที่ศีรษะ
        เพราะทำให้ความดันในช่องท้องสูง</li>
    <li>รับประทานอาหารมื้อเล็กๆ</li>
    <li>ควรเข้านอน หรือเอนกายหลังจากรับประทานอาหารไปแล้วอย่างน้อย 3 ชั่วโมง</li>
    <li>ผ่อนคลายความเครียด</li>
</ul>
<strong>อันดับที่ 3: ท้องเสีย อุจจาระร่วง</strong>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
คือการถ่ายอุจาระเหลว หรือเป็นน้ำ มากกว่า 3 ครั้งต่อวัน
    หรือถ่ายเหลวมีเลือดปนเพียง 1 ครั้งใน 24 ชั่วโมง โดยทั่วไปอาการท้องร่วงมักหายได้เองใน 2-3 วันโดยที่ไม่ต้องรักษา
    หากเป็นนานกว่านั้นควรมาพบแพทย์ ผู้ป่วยโรคท้องร่วงจะมีอาการ แน่นท้อง ปวดท้อง คลื่นไส้ อาเจียน และถ่ายบ่อย
    โรคท้องร่วงถ้าเป็นนานกว่า 3 สัปดาห์เรียกว่าเรื้อรัง ถ้าหายภายใน 3 สัปดาห์เรียกท้องร่วงเฉียบพลัน
    โดยมากเกิดจากเชื้อแบคทีเรีย และเชื้อไวรัสสาเหตุของอาการท้องเสีย อุจจาระร่วงที่พบบ่อยๆ คือ
<ul>
    การติดเชื้อแบคทีเรีย ซึ่งเกิดจากการรับประทานอาหารและน้ำที่ไม่สะอาด
                    ได้แก่ เชื้อบิดไม่มีตัว Shigella ไข้ไทฟอยด์ ที่มาจากเชื้อแบคทีเรีย Salmonella
                    เป็นต้น</li>
    <li>การติดเชื้อไวรัส ได้แก่ Rotavirus และ Norwalk virus</li>
    <li>การติดเชื้อพยาธิ เช่น Giardia lamblia,Entamoebahistolytica</li>
    <li>แพ้อาหารและนม</li>
    <li>ยา เช่น ยาลดความดัน ยาปฏิชีวนะ ยาระบาย</li>
    <li>ลำไส้มีการอักเสบ</li>
        <img src="https://www.paolohospital.com/Resource/Image/Article/156158088_990919274774038_2055919692432774276_n.jpg">
</ul>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    การรักษาเบื้องต้นทำได้ด้วยการดื่มน้ำบ่อยๆ ควรดื่มน้ำเกลือแร่หรือเครื่องดื่มที่ปราศจากไขมัน เมื่อมีอาการท้องร่วงนานเกิน 3 วัน ปวดท้องอย่างมาก มีไข้ควรรีบมาพบแพทย์
    &nbsp;<br><strong>อันดับ 4: ภาวะลำไส้แปรปรวน (IBS Irritable Bowel Syndrome) </strong>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    เป็นภาวะที่มีความผิดปกติในการบีบตัวของลำไส้ใหญ่มากเกินไป
        ส่งผลให้มีอาการปวดท้อง ถ่ายบ่อย ผู้ป่วยจะมีอาการปวดท้องร่วมกับมีการขับถ่ายที่ผิดปกติ บางรายอาจมีอาการท้องผูก
        ท้องเสีย หรือท้องผูกสลับกับท้องเสีย อาการสำคัญของลำไส้แปรปรวน คือปวดท้องหรือแน่นท้อง
        ร่วมกับการเปลี่ยนแปลงของการขับถ่าย อาการปวดท้องมักจะเริ่มเมื่อมีการขับถ่ายบ่อยมากขึ้น ขับถ่ายน้อยลง
        หรือเมื่อมีท้องผูกหรือถ่ายเหลว และอาการปวดจะดีขึ้นเมื่อหยุดถ่าย

        การวินิจฉัยและรักษา ทางการแพทย์จะประเมินว่าปัญหาของผู้ป่วยแต่ละรายมีที่มาอย่างไร เช่น
        ผู้ป่วยบางรายมีอาการเล็กน้อยไม่รบกวนกิจวัตรประจำวัน แต่มาพบแพทย์เพื่อต้องการทราบว่าป่วยเป็นโรคอะไร
        หรือมีความวิตกกังวลว่าจะเป็นโรคร้ายแรง แพทย์ก็จะให้คำแนะนำ
        หรือส่งตรวจเพื่อยืนยันให้ผู้ป่วยทราบว่าไม่ได้เป็นโรคร้ายแรง
        โดยไม่จำเป็นต้องใช้ยาก็อาจเพียงพอสำหรับผู้ป่วยกลุ่มนี้
        แต่กรณีที่ผู้ป่วยมีอาการมากและรบกวนชีวิตประจำวันอาจต้องรับยารักษาร่วมด้วยเพื่อการบรรเทาอาการถ่าย
    <br>
    <strong></strong>

<strong>อันดับ 5: ไวรัสตับอักเสบบี</strong><br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    </strong>โรคนี้ค่อนข้างน่ากลัวมาก เนื่องจากผู้คนไม่ค่อยให้ความสนใจไวรัสตับอักเสบบี
    ติดต่อได้จากมารดาสู่ทารกขณะคลอด โดยเฉพาะมารดาที่ไม่ทราบว่าตนเองมีเชื้อไวรัสตับอักเสบบีอยู่ภายในร่างกาย
    หากเกิดการติดเชื้อขึ้นภายในขวบปีแรกของทารก โอกาสที่จะมีการติดเชื้อเรื้อรังจะสูงมาก
    การติดต่อจากมารดาสู่ทารกเป็นสาเหตุสำคัญของการติดเชื้อที่เกิดขึ้นในประเทศไทย รวมถึงการติดต่อทางเพศสัมพันธ์
    ใช้เข็มฉีดยาร่วมกัน การฝังเข็ม การฉีด หรือเจาะตามร่างกายที่ไม่ถูกวิธีและไม่ได้ทำโดยวิธีปลอดเชื้อ การให้เลือด
    ฟอกไต การปลูกถ่ายอวัยวะ และติดต่อจากบุคคลในบ้าน โดยการใช้ของที่อาจปนเปื้อนเลือด หรือสารคัดหลั่ง เช่น มีดโกน
    กรรไกรตัดเล็บ

    เมื่อได้รับเชื้อไวรัสเข้าสู่ร่างกาย เชื้อจะเข้าไปฟักตัวในตับ ทำให้เกิดภาวะตับอักเสบบีเฉียบพลันประมาณร้อยละ 30
    ของผู้ป่วยจะไม่แสดงอาการชัดเจน อาการที่พบ เช่น มีไข้ต่ำๆ คลื่นไส้ อาเจียน อ่อนเพลีย ตามมาด้วยตัวเหลือง ตาเหลือง
    เมื่อเกิดอาการที่แสดงชัด หรือตรวจแล้วเจอก้อน ส่วนใหญ่จะอยู่ในระยะสุดท้ายแล้ว ดังนั้นสิ่งที่ดีที่สุด
    คือการควรตรวจเช็คหากมีปัจจัยเสี่ยง เช่น ภายในเครือญาติพบผู้ป่วยโรคตับอักเสบ หรือมะเร็งตับ
    ควรหมั่นดูแลสุขภาพร่างกาย งดเครื่องดื่มแอลกอฮอล์ หลีกเลี่ยงสารเคมีและสารพิษต่างๆ ควบคุมน้ำหนัก
    รับประทานอาหารที่ดีต่อสุขภาพ ออกกำลังกาย และพักผ่อนให้เพียงพอ ในปัจจุบันมีเทคโนโลยีทางการแพทย์ที่ทันสมัย อาทิ
    เครื่องไฟโบรสแกน (Fibroscan) เพื่อใช้ตรวจภาวะตับแข็ง เหมาะสำหรับผู้ที่ดื่มแอลกอฮอล์เป็นประจำ
    ซึ่งตรวจโดยใช้หลักการสะท้อนของคลื่นเสียง โดยใช้เวลาตรวจเพียง 5 นาที ก็สามารถทราบผลได้ทันที

    กรณีของไวรัสตับอักเสบบีเรื้อรัง การกำจัดเชื้อไวรัสให้หมดจากร่างกายนั้นทำได้ยากมาก หมายถึงมีโอกาสหายขาดน้อยมาก
    จุดมุ่งหมายที่สำคัญของการรักษา จึงเป็นการลดการอักเสบของตับ เพื่อลดความเสี่ยงต่อการเกิดภาวะตับแข็งและมะเร็งตับ













    <!--Slide-->


    <!--Slide End-->
    </div>
    {% endblock%}