{%extends 'layout.html' %}{% block content %}

<title>Heart</title>
<h1>โรคหัวใจ</h1>
<p>หัวใจ เป็นอวัยวะที่สำคัญของร่างกาย มีหน้าที่สูบฉีดเลือดเพื่อไปเลี้ยงร่างกายประมาณ 5 ลิตร/นาที แบ่งออกเป็น 4 ห้อง มี 2 ห้องบน และ 2 ห้องล่าง หัวใจห้องบนมีจุดกำเนิดไฟฟ้าหัวใจที่เรียกว่า ซึ่งจะทำให้เกิดการเหนี่ยวนำกระแสไฟฟ้าขึ้นในหัวใจห้องบน และส่งกระแสไฟฟ้าเคลื่อนไปยัง “AV-node” โดยผ่านเซลล์กล้ามเนื้อหัวใจชนิดพิเศษ แล้วแผ่ขยายกระแสไฟฟ้าไปทั่วหัวใจห้องล่าง ทำให้เกิดคลื่นไฟฟ้าหัวใจอย่างสมบูรณ์ ในขณะพักคนปกติจะมีอัตราการเต้นของหัวใจหรือที่เรียกว่า “ชีพจร” ประมาณ 60-100 ครั้ง/นาที</p>

<p>โรคหัวใจและหลอดเลือด เป็นสาเหตุของการเสียชีวิตอันดับต้นๆ ของคนไทย และมีแนวโน้มว่าจะมีปริมาณเพิ่มมากขึ้นเรื่อยๆ เนื่องจากปัจจัยหลายประการ ทั้งปัจจัยที่ควบคุมไม่ได้ เช่น กรรมพันธุ์ อายุ เพศ และปัจจัยที่ควบคุมได้ เช่น การออกกำลังกาย น้ำหนักเกิน รวมไปถึงพฤติกรรมการบริโภคอาหาร ดังนั้น ผู้ป่วยโรคหัวใจควรได้รับการดูแลเอาใจใส่ในเรื่องการบริโภคอาหารและการดูแลสุขภาพอย่างเหมาะสม รวมถึงการออกกำลังกายอย่างสม่ำเสมอเพื่อป้องกันไม่ให้เกิดโรคอื่นๆ แทรกซ้อนได้</p>

<h4><strong>ปัจจัยเสี่ยงต่อการเกิดโรคหัวใจและหลอดเลือด</strong></h4>

<ul>
<li>สูบบุหรี่</li>
<li>มีความดันโลหิตสูง</li>
<li>มีไขมันในเลือดสูง</li>
<li>เป็นโรคเบาหวาน</li>
<li>มีภาวะโรคอ้วน หรือน้ำหนักตัวเกินปกติ<</li>
<li>มีความเครียด</li>
<li>ไม่ออกกำลังกาย</li>
<li>สตรีหลังหมดประจำเดือน</li>
<li>สตรีที่ทานยาคุมกำเนิด</li>
<li>รับประทานอาหารเค็มจัด</li>
</ul>

<p style="text-align: center;"><img alt="" class="img-fluid" src="https://siph-space.sgp1.digitaloceanspaces.com/media/upload/heartache-1846050_1280.jpg" style="height: 333px; width: 500px;"></p>
<h4><strong>สัญญาณเตือนของโรคหัวใจ</strong></h4>
<p>&nbsp;1. มีการอาการเจ็บแน่นหน้าอก เช่น</p>
<p>&nbsp; &nbsp; &nbsp;1.1 บีบเค้นแน่นหน้าอกเหมือนมีของหนักกดทับ</p>
<p>&nbsp; &nbsp; &nbsp;1.2 เจ็บหน้าอกร้าวไปกราม ขากรรไกร คอ แขน ไหล่ หลัง</p>
<p>&nbsp; &nbsp; &nbsp;1.3 เจ็บหน้าอกร่วมกับเหงื่อออก ตัวเย็น ใจสั่น</p>
<p>&nbsp; &nbsp; &nbsp;1.4 เจ็บหน้าอกนานกว่า 20 นาที</p>
<p>&nbsp;2. เหนื่อยง่าย</p>
<p>&nbsp;3. ความสามารถในการออกกำลังกายลดลง</p>
<p>&nbsp;4. เจ็บหน้าอกหรือแน่นหน้าอก</p>
<p>&nbsp;5. มีภาวะหัวใจล้มเหลว</p>
<p>&nbsp;6. ใจสั่น หัวใจเต้นผิดจังหวะ</p>
<p>&nbsp;7. เป็นลมหมดสติ</p>
<h4><strong>การปรับพฤติกรรมสำหรับผู้ป่วยโรคหัวใจ</strong></h4>
<p>&nbsp;1. ควบคุมระดับไขมันในเลือดให้อยู่ในเกณฑ์ปกติ โดยไม่ควรเกินร้อยละ 30 ของพลังงานทั้งหมด หรือไม่เกินวันละ 3-4 ช้อนโต๊ะของน้ำมันพืชที่ใช้ปรุงอาหาร รวมถึงกะทิและเนย<</p>
<p>&nbsp;2. ควบคุมค่าความดันโลหิต และน้ำตาลในเลือดให้อยู่ในเกณฑ์ปกติ</p>
<p>&nbsp;3. รักษาระดับน้ำหนักตัวให้เหมาะสม</p>
<p>&nbsp;4. ออกกำลังกายในระดับความหนักปานกลางจนถึงหนัก (ทดสอบโดยการร้องเพลงได้แบบไม่ติดต่อกันแต่ยังสามารถพูดได้ปกติ) อย่างน้อย 3 - 4 ครั้งต่อสัปดาห์ ครั้งละ 40 - 50 นาทีต่อครั้ง</p>
<p>&nbsp;5. หลีกเลี่ยงเครื่องดื่มแอลกอฮอล์</p>
<p>&nbsp;6. งดสูบบุหรี่</p>
{% endblock%}