{%extends 'layout.html' %}{% block content %}

<title>Pediatric</title>
<h1>โรคในเด็กเล็ก</h1>
<img src="https://www.phyathai.com/photo/article_3437138148.jpg" style="width: 50%;"><br>
<p>ช่วงอากาศเปลี่ยนแปลง เดี๋ยวร้อน เดี๋ยวฝน เด็กเล็กๆ ที่ยังมีภูมิต้านทานไม่ดีนัก อาจทำให้เกิดโรคระบาดในเด็กได้ง่าย
    และอาการป่วยของเด็กก็มักจะรุนแรงและเกิดอาการแทรกซ้อนได้ง่ายกว่าผู้ใหญ่
    เพราะฉะนั้นคุณพ่อคุณแม่จึงต้องดูแลลูกน้อยเป็นพิเศษอย่างใกล้ชิด
    เพื่อป้องกันและเฝ้าระวังโรคระบาดที่อาจเกิดขึ้นในเด็กได้ </p>
<h4>โรคมือ เท้า ปาก</h4>
<p>เกิดจากการติดเชื้อไวรัส Enterovirus (EV) หรือ Coxackie ซึ่งแพร่เชื้อออกมาในน้ำลายและอุจจาระผู้ป่วย
    การรับเชื้อสามารถรับผ่านทางปาก จากการปนเปื้อนเชื้อที่มือ ของเล่น น้ำ อาหาร โดยผู้ป่วยแพร่เชื้อได้&nbsp; 2-3 วัน
    ก่อนมีอาการจนถึง 1-2 สัปดาห์ หลังมีอาการจะพบเชื้อในอุจจาระได้หลายสัปดาห์หรือเป็นเดือน และหลังได้รับเชื้อ 3-6
    วันจะปรากฏอาการ ส่วนมากมักพบในเด็กอายุต่ำกว่า 5 ปี </p>
<ul>
    <li>อาการที่สังเกตได้ คือ มีไข้, ผื่นที่ฝ่ามือ ฝ่าเท้า ปาก ลิ้น เหงือก&nbsp; อาการจะหายไปเอง ภายใน 7-10 วัน&nbsp;
        ผู้ป่วยอาจมีอาการแทรกซ้อนซึ่งพบได้น้อยมาก เช่น สมองอักเสบ, กล้ามเนื้อหัวใจอักเสบ&nbsp;
        ดังนั้นหากเด็กมีอาการของโรคมือเท้าปากให้รีบพาเด็กไปพบแพทย์</li><br>
    <li>การรักษา โรคมือ เท้า ปาก รักษาตามอาการ เช่น ให้ยาลดไข้ (paracetamol)
        เด็กบางคนมีแผลหลายแผลในปากรับประทานอาหารและน้ำได้ไม่เพียงพอ
        เด็กไม่ยอมกลืนน้ำลายและไม่ยอมให้ทำความสะอาดปากแผลในปากจะหายช้า อาจให้รับประทานยาชาก่อนอาหารประมาณ 10&nbsp; นาที
        เพื่อไม่ให้เจ็บแผล ทำให้สามารถรับประทานอาหารและน้ำได้&nbsp;
        หรือหากเป็นมากขึ้นอาจจำเป็นต้องให้น้ำเกลือทางเส้นเลือด</li><br>
    <li>การป้องกัน ไม่สัมผัสใกล้ชิดเด็กที่ป่วย สอนเด็กล้างมือให้สะอาดอยู่เสมอ
        และป้องกันการแพร่เชื้อโดยไม่ใช้อุปกรณ์และภาชนะในการรับประทานและดื่มน้ำร่วมกับผู้อื่น แยกเด็ก ไม่ควรพาไปเที่ยว
        อาจจะแพร่เชื้อไปสู่เด็กอื่นได้ เด็กวัยเรียน ควรหยุดเรียน 1 สัปดาห์ ตั้งแต่เริ่มมีผื่น </li>
</ul>
<h4>โรคเฮอร์แปงไจนา (Herpangina) </h4>
<p>เกิดจากเชื้อไวรัสที่อยู่ในกลุ่มคอกซากีไวรัสกรุ๊ปเอ (Coxsackie viruses A sero type 1 – 10, 16 และ 22)
    และเอ็นเทอร์โรไวรัส (Enterovirus) โรคติดต่อได้จากการสัมผัสน้ำมูก น้ำลาย&nbsp; สารคัดหลั่ง และอุจจาระ&nbsp;
    ของคนที่มีเชื้อ เพราะบางครั้งอาจสัมผัสแล้วนำมือเข้าปาก แล้วเผลอรับประทานเข้าไป สามารถทำให้ติดเชื้อได้
    ทั้งนี้ผู้ป่วยจะมีอาการหลังได้รับเชื้อประมาณ 3– 14 วัน
    ซึ่งผู้ป่วยที่ติดเชื้อจะแพร่เชื้อได้ตั้งแต่วันแรกที่ติดเชื้อไปจนกว่าจะหายจากโรค คือ ประมาณ 1 – 2
    สัปดาห์นับจากติดเชื้อ กลุ่มเสี่ยงของโรคนี้จะเป็นมากในเด็กที่อายุน้อยกว่า&nbsp; 10&nbsp;&nbsp; ปี</p>
<ul>
    <li>อาการที่สังเกตได้ โดยทั่วไปอาการไม่รุนแรง แต่อาจมีไข้เฉียบพลัน ไข้อาจสูงถึง 40 องศาเซลเซียส ปวดศีรษะ
        ปวดตามตัว อาจมีอาเจียน และอาการเด่นคือจะมีอาการเจ็บบริเวณเพดานปากและคอนำมาก่อน ต่อมา(ภายใน 1 วัน)
        จะมีจุดแดงๆ บริเวณเพดานอ่อน ลิ้นไก่ และอาจมีตุ่มแดงที่ทอนซิล หรือบริเวณในลำคอด้วยก็ได้ อาจเป็นแผลเล็กๆ
        ตรงกลางตุ่มน้ำนั้น หรืออาจมีการอักเสบรอบๆ แผลได้ จำนวน 5 – 10 ตุ่ม อย่างไรก็ตาม ไข้จะลดลงภายใน 2 – 4 วัน
        แต่แผลอาจคงอยู่ประมาณ 1 สัปดาห์ </li><br>
    <li>การรักษา โรคเฮอร์แปงไจน่ารักษาตามอาการ ได้แก่ เช็ดตัวเพื่อช่วยลดไข้ ให้ยาพาราเซตามอล (Paracetamol)
        ไม่ต้องให้ยาต้านไวรัส หรือยาต้านจุลชีพ (ยาปฏิชีวนะ)
        ยกเว้นในรายการที่สงสัยว่ามีอาการติดเชื้อแบคทีเรียแทรกซ้อน หากพบอาการไข้ไม่ลดลงภายใน 3 วัน หรือไข้สูง
        รับประทานอาหารและดื่มนมไม่ได้ มีภาวะขาดน้ำ เช่น ปากแห้ง ปัสสาวะน้อยลงและ ซึมลง ให้รีบพาเด็กไปพบแพทย์</li>
    <br>
    <li>การป้องกัน โรคเฮอร์แปงไจน่า ปัจจุบันยังไม่มีวัคซีนป้องกันโรคเฮอร์แปงไจน่า วิธีป้องกันที่ดีที่สุด คือ
        ล้างมือให้สะอาดด้วยน้ำสบู่และน้ำสะอาด ระวังการสัมผัสน้ำลาย น้ำมูก ข้าวของเครื่องใช้ของเด็กที่เป็นโรค
        ซึ่งรวมทั้งของเล่นต่างๆ ด้วย หากเด็กป่วยให้งดไปโรงเรียน 7 วัน</li>
</ul>
<h4>โรคไข้เลือดออก</h4>
<p>เป็นโรคภาวะติดเชื้อไวรัสเดงกี่ (Dengue) ซึ่งมี 4 สายพันธุ์ ได้แก่ เดงกี่ 1,2,3 และ 4 โดยมี “ยุงลาย” เป็นพาหะนำโรค
    คือ&nbsp; เมื่อยุงลายที่มีเชื้อไวรัสไข้เลือดออกกัดคน จะถ่ายทอดเชื้อให้คนทำให้เกิดอาการ&nbsp;
    ยุงลายนี้มักจะเพาะพันธุ์ตามแหล่งน้ำนิ่งในบริเวณบ้าน เช่น ตุ่มน้ำ โอ่งน้ำ หรือหลุมที่มีน้ำขัง เป็นต้น </p>
<ul>
    <li>อาการที่สังเกตได้ คือ มีอาการไข้สูงลอยอย่างต่อเนื่อง 39-41 องศาเซลเซียสเป็นเวลา 2-7 วัน, หน้าแดง
        ปวดศีรษะ&nbsp; ปวดกระดูก ปวดกล้ามเนื้อ &nbsp;ปวดกระบอกตา, เบื่ออาหาร คลื่นไส้อาเจียน ปวดท้องบริเวณลิ้นปี่
        หรือใต้ชายโครงขวา, มีเลือดออก เช่น จุดเลือดออกตามผิวหนัง เลือดกำเดาไหล เลือดออกตามไรฟัน&nbsp;
        และในรายที่อาการรุนแรงอาจพบว่ามีอาการอาเจียนเป็นเลือดเกิดขึ้น หากมีอาการผิดปกติควรรีบพบแพทย์ทันที</li><br>
    <li>การรักษา ไข้เลือดออกให้ผู้ป่วยพักผ่อนในที่ๆ มีอากาศถ่ายเทได้สะดวก, เช็ดตัวด้วยน้ำธรรมดาหรือน้ำอุ่น เช็ดนาน
        10-15 นาที การเช็ดตัวลดไข้จะทำให้ผู้ป่วยสบายตัวขึ้น, ให้รับประทานยาลดไข้ พาราเซตามอล
        โดยควรรับประทานยาพาราเซตามอลห่างกันอย่างน้อย 4-6 &nbsp;ชม./ครั้ง และไม่ควรรับประทานยาแอสไพริน
        หรือยาลดไข้ไอบูโพรเฟนเพราะจะเพิ่มความเสี่ยงของภาวะเลือดออก</li>
    <p>ดื่มน้ำเกลือแร่ หรือน้ำผลไม้ใส่เกลือเล็กน้อย โดยให้จิบทีละน้อย ไม่ควรดื่มน้ำเปล่าเพียงอย่างเดียว
        และรับประทานอาหารอ่อน ย่อยง่าย หลีกเลี่ยงอาหารและเครื่องดื่มที่มีสีดำหรือแดง เช่น น้ำแดง แตงโม ช็อกโกแลต
        เป็นต้น เพื่อเป็นการป้องกันการสับสนว่าลูกอาเจียนเป็นเลือดหรืออาหาร ติดตามอาการ ตามคำแนะนำของแพทย์
        &nbsp;โดยเฉพาะช่วง 3-5 วัน หลังจากเริ่มมีไข้</p>
    <li>การป้องกัน </font>ไข้เลือดออก ป้องกันได้โดยไม่ให้ยุงกัด การกำจัดยุงลายที่เป็นพาหะนำโรคไข้เลือดออก
        ปิดภาชนะขังน้ำให้มิดชิด ป้องกันไม่ให้ยุงลายลงไปวางไข่, เปลี่ยนน้ำในแจกัน ถังเก็บน้ำ ทุก 7 วัน
        เพื่อตัดวงจรลูกน้ำที่จะกลายเป็นยุง, ปล่อยปลากินลูกน้ำในภาชนะใส่น้ำถาวร เช่น ปลาหางนกยูง ปลากัด ปลากระดี่,
        ปรับปรุงสิ่งแวดล้อมให้ปลอดโปร่ง โล่ง สะอาด ลมพัดผ่าน ไม่เป็นที่เกาะพักของยุงลาย
        และปฏิบัติเป็นประจำจนเป็นนิสัย</li>
</ul>
<h4>โรคอุจจาระร่วง</h4>
<p>อาจเกิดได้ทั้งจากเชื้อไวรัสและแบคทีเรีย พบมากในกลุ่มเด็กเล็กอายุต่ำกว่า 5 ปี อาการเบื้องต้นท้องเสียมากกว่า 3
    ครั้งต่อวัน เมื่อเด็กมีอาการท้องเสียหรือมีอาเจียน เด็กจะมีอาการขาดน้ำและเกลือแร่
    ฉะนั้นพ่อแม่ต้องสังเกตอาการอย่างใกล้ชิด ควรรีบพบแพทย์ทันที </p>
<ul>
    <li>การรักษา โรคอุจจาระร่วง ไม่มียารักษาเฉพาะ แต่สามารถรักษาผู้ป่วยให้หายได้ด้วยวิธีรักษาตามอาการ
        หากเด็กกินไม่ได้ ต้องให้น้ำ/เกลือแร่ทดแทนทางหลอดเลือดดำ เมื่อมีไข้
        รักษาอาการไข้โดยเช็ดตัวและให้ยาลดไข้&nbsp; หากปวดท้องหรือท้องอืด ควรให้ยาขับลม หากเด็กหยุดอาเจียน
        ให้รับประทานข้าวต้มหรือโจ๊กได้</li> <br>
    <li>การป้องกัน หมั่นล้างมือให้สะอาดด้วยน้ำและสบู่หรือเจลล้างมือ กำจัดขยะมูลฝอย
        เพื่อไม่ให้เป็นแหล่งเพาะพันธุ์แมลงวัน และรับประทานอาหารที่ปรุง “สุก ร้อน สะอาด”</li>
</ul>
<p>ปัจจุบันโรคท้องเสียที่เกิดจากไวรัสโรต้ามีวัคซีนในการป้องกัน ชนิดหยอดที่ใช้ได้เฉพาะในเด็กเล็กเท่านั้น
    ได้รับการรับรองจากสำนักงานคณะกรรมการอาหารและยาแล้วว่ามีประสิทธิภาพในการป้องกันโรค ลดความรุนแรงของโรค
    และมีความปลอดภัยสูง โดยจะเริ่มหยอดครั้งแรกในเด็กที่มีอายุเกิน 6 สัปดาห์ ขึ้นไปและจะให้ครั้งต่อไปห่างจากครั้งแรก
    4 สัปดาห์ โดยหยอดทางปาก 2 หรือ 3 ครั้ง ขึ้นอยู่กับชนิดของวัคซีน สำหรับเด็กโตให้เน้นด้านการรักษาสุขอนามัยส่วนตัว
</p>
<h4>โรคเยื่อหุ้มสมองอักเสบ</h4>
<p>เป็นโรคที่เกิดจากการติดเชื้อแบคทีเรียนิวโมคอคคัส เมื่อเด็กติดเชื้ออาจมีอาการไข้สูง ซึม ชักเกร็ง แขนขาอ่อน
    พ่อแม่ต้องสังเกตอาการอย่างใกล้ชิดเพราะเด็กเล็กไม่สามารถบอกอาการได้ หากมีอาการดังกล่าวควรรีบมาพบแพทย์ </p>
<p> เนื่องจากเชื้อนิวโมคอคคัสแพร่กระจายผ่านทางระบบทางเดินหายใจ ฉะนั้นจึงควรเลี่ยงพาเด็กไปในที่แออัด
    หรือหากเลี่ยงไม่ได้ควรใส่หน้ากากอนามัย และฉีดวัคซีนเสริมภูมิต้านทาน โดยฉีดเมื่ออายุ 2, 4 และ 6 เดือน
    และกระตุ้นซ้ำเมื่ออายุ 12-15 เดือน, ถ้าเริ่มฉีดในเด็กอายุ 7-11 เดือน ให้ฉีดสองครั้งห่างกันสองเดือน
    และกระตุ้นซ้ำเมื่ออายุ 12-15 เดือน, ส่วนเด็กอายุ 1-5 ปีที่ยังไม่เคยได้รับวัคซีนนี้ ให้ฉีดครั้งเดียว
    ยกเว้นในเด็กที่มีภูมิคุ้มกันต่ำหรือมีความเสี่ยงสูงต่อการติดเชื้อนิวโมคอคคัสชนิดรุนแรง
    โดยให้ฉีดสองครั้งห่างกันสองเดือน</p>
{% endblock%}