@import url('https://fonts.googleapis.com/css?family=Lato:300,400:700');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #3E5151, #decba4);
    overflow: hidden;
}

input {
    font-family: inherit;
    border: 0;
    border-bottom: 1px solid #aaa;
    font-size: 16px;
    color: #000;
    border-radius: 0;
}

input[type="text"],
input[type="password"]{
    width: 100%;
    height: 40px;
}

button,
input:focus {
    outline: 0;
}

.form-group {
    position: relative;
    padding-top: 15px;
    margin-top: 10px;
}

label {
    position: absolute;
    top: 0;
    opacity: 1;
    transform: translateY(5px);
    color: #aaa;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: -0.00933333em;
    transition: .2s ease-in-out;
}

input:placeholder-shown + label {
    opacity: 0;
    transform: translateY(15px);
}


.h1 {
    color: #fff;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2405em;
    transition: 770ms cubic-bezier(0.51, 0.04, 0.12, 0.99);
    text-align: center;
    cursor: pointer;
    position: absolute;
}

.open .h1 {
    transform:  translateX(200px) translateZ(0);
}

.h2 {
    color: #000;
    font-size: 20px;
    letter-spacing: -0.00933333ex;
    font-weight: 600;
    padding-bottom: 15px;
}

.login-wrapper {
    width: 800px;
    height: 440px;
    background-color: rgb(157, 201, 140);
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.login-left {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 770ms cubic-bezier(0.51, 0.04, 0.12, 0.99);
    overflow: hidden;
}

.login-left img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    transition: 770ms cubic-bezier(0.51, 0.04, 0.12, 0.99);
    object-position: left;
}

.open .login-left img{
    transform:  translateX(280px) translateZ(0);
}

.open .login-left {
    transform: translateX(-350px) translateZ(0);
}

.login-right{
    padding: 40px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(400px) translateZ(0);
    transition: 770ms cubic-bezier(0.51, 0.04, 0.12, 0.99);
}

.open .login-right {
    transform: translateX(0px) translateZ(0);
}

.button-area {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.btn {
    font-family: inherit;
    background-color: transparent;
    border: none;
    border-radius: 2px;
    height: 40px;
    display: flex;
    padding: 0 35px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: -0.00933333em;
}

.btn-primary {
    color: #fff;
    background: linear-gradient(120deg, #3E5151, #DECBA4);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
} 

.btn-secondary {
    color: #3E5151;
}