{%extends 'layout.html' %} {% block content %}
<style>
  body{ background-color: #FFF; }
</style>

<bodyAboutus class="Body">
  <div class="about-section">
    <h1 class="welcome">Welcome to About Us Page</h1>
    <p class="welcome_quote">The Origin is started here.</p>
  </div>

  <div class="headTeam">
    <h2 class="team">MEMBERS</h2>
  </div>
  <div class="row">
    <div class="column">
      <div class="card">
        <img
          src="..\static\PHUKAO.JPG"
          alt="Phukao"
          width="100%"
          height="100%"
        />
        <div class="container">
          <h3 class="Personname">Phattaraphat Chaiamornvate</h3>
          <p class="Position">Positon : Front-end / Project Designer</p>
          <p class="Lang">Language : html / css / javascript</p>
          <p class="Email">Email : 62010684@kmitl.ac.th</p>
          <p class="contact">Contact</class=></p>
          <ul class="social-media">
            <li><a href="https://www.facebook.com/phattaraphat.chaiamornvate/"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="https://twitter.com/Phukao_GK"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="https://www.instagram.com/phukao_gk/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="..\static\zen.JPG" alt="Zen" width="100%" height="100%" />
        <div class="container">
          <h3 class="Personname">Nattapat Arunkitjaroen</h3>
          <p class="Position">Positon : Back-end / Project Designer</p>
          <p class="Lang">Language : python / html / css</p>
          <p class="Email">Email : zen@hotmail.com</p>
          <p class="contact">Contact</class=></p>
          <ul class="social-media">
            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="..\static\tan.JPG" alt="Tan" width="100%" height="100%" />
        <div class="container">
          <h3 class="Personname">Tan Chaiwongsriaroon</h3>
          <p class="Position">Positon : Fullstack / Database</p>
          <p class="Lang">Language : html / python / SQL</p>
          <p class="Email">Email : 62010309@kmitl.ac.th</p>
          <p class="contact">Contact</class=></p>
          <ul class="social-media">
            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="..\static\KAN.JPG" alt="Kan" width="100%" height="100%" />
        <div class="container">
          <h3 class="Personname">Kan Maksapsin</h3>
          <p class="Position">Positon : Document Organizer</p>
          <p class="Lang">Project management / Planning form</p>
          <p class="Email">Email : 62010052@kmitl.ac.th</p>
          <p class="contact">Contact</class=></p>
          <ul class="social-media">
            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="..\static\NAT.JPG" alt="Nut" width="100%" height="100%" />
        <div class="container">
          <h3 class="Personname">Nuttawat Janwisit</h3>
          <p class="Position">Positon : Project Designer</p>
          <p class="Lang">Planning form / Styling front-end</p>
          <p class="Email">Email : Nutty@hotmail.com</p>
          <p class="contact">Contact</class=></p>
          <ul class="social-media">
            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</bodyAboutus>
{% endblock%}
