{%extends 'layout.html' %} {% block content %}
<title>Add Form</title>
<div class="content">
  <iframe
    src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%234285F4&amp;ctz=Asia%2FBangkok&amp;src=Y19xcnZtOGJxdm1nNGhpdDlndWE1NmpjNnNhb0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23795548&amp;title=Doctor%20appointment%20schedule&amp;showTitle=1&amp;showNav=1&amp;showTabs=0&amp;showCalendars=1&amp;showTz=0&amp;mode=MONTH"
    style="border: solid 1px #777"
    width="800"
    height="600"
    frameborder="0"
    scrolling="no"
  ></iframe>
</div>
{% if messages %}
<div class="alert alert-danger" role="alert">
  {% for message in messages %}
  <b>{{message}}</b>
  {% endfor %}
</div>
{% endif %}

<body>
  <form method="POST" action="addForm">
    {% csrf_token %}
    <label for="date">Date</label>
    <input type="date" id="date" name="date" min="2021-05-29" />
    <label for="time">time</label>
    <select name="time" id="time">
      <option value="1">1:00</option>
      <option value="2">2:00</option>
      <option value="3">3:00</option>
      <option value="4">4:00</option>
      <option value="5">5:00</option>
    </select>
    <label for="symptom">อาการป่วย</label>
    <input
      type="text"
      id="symptom"
      name="symptom"
      value="ปวดหัว ตัวร้อน กินไม่ได้ นอนไม่หลับ กระส่าย กระ สับ ตับพิการ อาหารไม่ย่อย"
    />
    <label for="number">Telephone number</label>
    <input type="text" id="number" name="number" value="09xxxxxxxx" />
    <button type="submit" class="button button1" ,>Add</button>
  </form>
  <div style="height: 50px;"></div>
</body>
<style>
  .content {
    margin: auto;
    width: 70%;
  }
</style>

{% endblock%}
