<nav class="navbar navbar-expand-md navbar-light bg-dark">
    
    <button type="button" class="navbar-toggler bg-light" data-toggle="collapse"
    data-target="#nav" name="button"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-between" id="nav">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3"
        href="/home">Home</a>
      </li>
      <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" 
        href="/personnel">ข้อมูลแพทย์ 
        </a>
      </li>
        <li class="nav-item">
          <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="/addForm">
            <i class="fas fa-user circle"></i> ตารางนัด
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="/disease">
            ข้อมูลโรค
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="/about">
            เกี่ยวกับเรา
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="/userInformation">
            ผู้ใช้ <i class="fas fa-sign-in-alt"></i>
          </a>
        </li>
      
    </ul>
    <form class="form-inline ml-3" action="", method="GET">

    </form>
    </div>
  </nav>  