{%extends 'layout.html' %}
<style>
  .container {
    padding: 2rem 0rem;
  }

  h4 {
    margin: 2rem 0rem 1rem;
  }

  .table-image, td,th {
    vertical-align: middle;

  }
</style>
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-image">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Expertise</th>

          </tr>
        </thead>
        <tbody>
          {% for data in datas %}
          <tr>
            <td class="w-25">
              <img src={{data.imageUrl}}
                class="img-fluid img-thumbnail" alt="Doctor">
            </td>
            <td>{{data.name}}</td>
            <td>{{data.expertise}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock%}