{% comment %} {%extends 'layout.html' %}  {% endcomment %}
{% load static %}
    <link rel="stylesheet" href="{%static 'css/style_signup.css' %}" />
{% block content %}

<title>Sign Up</title>
<div class="headSignup">
  <div class="Topic">Create Profile</div>
  <div class="userLogo">
    <img
      src="https://www.logolynx.com/images/logolynx/4b/4beebce89d681837ba2f4105ce43afac.png"
      width="50"
      height="50"
    />
  </div>
</div>

{% comment %} {% if messages %}
<div class="alert alert-danger" role="alert">
  {% for message in messages %}
  <b>{{message}}</b>
  {% endfor %}
</div>
{% endif %} {% endcomment %}

<body>
  <form method="POST" action="signup">
    {% csrf_token %}
    <div class="title">Registration</div>

    <div class="user_details">
      <div class="input_box">
        <label class="details" for="fname">Username</label>
        <input
          type="text"
          placeholder="Enter your name"
          id="username"
          name="username"
        />
      </div>
      <div class="input_box">
        <label class="details" for="password">Password</label>
        <input
          type="password"
          placeholder="Enter your password"
          id="password"
          name="password"
        />
      </div>
      <div class="input_box">
        <label class="details" for="rename">Re-Password</label>
        <input
          type="password"
          id="repassword"
          placeholder="Match your password"
          name="repassword"
        />
      </div>
      <div class="input_box">
        <label class="details" for="fname">First Name</label>
        <input
          type="text"
          placeholder="Enter your first name"
          id="fname"
          name="fname"
        />
      </div>
      <div class="input_box">
        <label class="details" for="lname">Last Name</label>
        <input
          type="text"
          placeholder="Enter your last name"
          id="lname"
          name="lname"
        />
      </div>
      <div class="input_box">
        <label class="details" for="email">Email</label>
        <input
          type="text"
          placeholder="Enter your email"
          id="email"
          name="email"
        />
      </div>
      <div class="gender_details">
        <input type="radio" name="gender" id="dot_1">
        <input type="radio" name="gender" id="dot_2">
        <input type="radio" name="gender" id="dot_3">
        <span class="gender_title">Gender</span>
        <div class="category">
          <label for="dot_1">
            <span class="dot_one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot_2">
            <span class="dot_two"></span>
            <span class="gender">Female<span>
          </label>
          <label for="dot_3">
            <span class="dot_three"></span>
            <span class="gender">Others</span>
          </label>
        </div>
      </div>
    </div>
    <div class='buttonRegis'>
      <button type="submit" class="button" ,>Submit</button>
    </div>
  </form>
</body>

{% endblock%}
