{%extends 'layout.html' %} {% block content %}
<style>
  .container {
    padding: 2rem 0rem;
  }

  h4 {
    margin: 2rem 0rem 1rem;
  }

  .table-image,
  td,
  th {
    vertical-align: middle;
  }
</style>

<title>ข้อมูลผู้ใช้</title>
<div class="UserInfoPage">
  <div class="userNameInfo">Name : {{user.first_name}}</div>
  <div class="surNameInfo">Surname : {{user.last_name}}</div>
  <div class="emailInfo">Email : {{user.email}}</div>
  <div class="genderInfo">Gender : Male</div>
</div>
</div>
<div class="previous">Doctor Appointment Schedule</div>
<!-- search หา วันเวลาที่หา-->
{% if messages %}
<div class="alert alert-danger" role="alert">
  {% for message in messages %}
  <b>{{message}}</b>
  {% endfor %}
</div>
{% endif %}
<form method="POST">
  <div class="fixForm" action="userInformation" method="POST">
    {% csrf_token %}
    <div class="input-group">
      <input type="date" id="date" name="date" class="form-control" placeholder="Search">
      <div class="input-group-append">
        <input type="submit" class="btn btn-warning">
      </div>
    </div>
  </div>
</form>
<!-- search หา วันเวลาที่หา-->
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-image">
        <thead>
          <tr>
            <th scope="col">
              &nbsp; Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Time
              &nbsp;&nbsp; Symptom
            </th>
          </tr>
        </thead>
        <tbody>
          {% if press == 0 %} {% for data in datas %}
          <tr>
            <td>{{data}}</td>
          </tr>
          {% endfor %} {% elif press == 1 %}
          <tr>
            <td>{{datas}}</td>
          </tr>

          {% elif press == 2 %}
          <tr>
            <td>ไม่พบข้อมูล</td>
          </tr>

          {% elif press == 3 %}
          <tr>
            <td>ใส่วันที่ต้องการค้นหา</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{{checkdate}} {{ans}} {% endblock%}