{%extends 'layout.html' %}

{% block content %}
<style>
  .container {
    padding: 2rem 0rem;
  }

  h4 {
    margin: 2rem 0rem 1rem;
  }

  .table-image, td,th {
    vertical-align: middle;

  }
</style>

<title>ข้อมูลผู้ใช้</title>
<a>ชื่อผู้ใช้: {{user.first_name}}</a><br>
<a>นามสกุล: {{user.last_name}}</a><br>
<a class="previous">ตารางนัดแพทย์</a><br>
<!-- search หา วันเวลาที่หา-->
{% if messages %}
<div class="alert alert-danger" role="alert">
  {% for message in messages %}
  <b>{{message}}</b>
  {% endfor %}
</div>
{% endif %}
<form action="userInformation" method="POST">{% csrf_token %}
  <div class="input-group">
    <input type="date" id="date" name="date" class="form-control" placeholder="Search">
    <div class="input-group-append">
      <button type="submit" class="btn btn-warning"><i class="fas fa-search"></i></button>
    </div>
  </div>
</form>
<!-- search หา วันเวลาที่หา-->
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-image">
        <thead>
          <tr>
            <th scope="col">&nbsp; Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Time &nbsp;&nbsp; Symptom</th>
          </tr>
        </thead>
        <tbody>
          {% if press == 0 %}
            {% for data in datas %}
            <tr>
              <td>{{data}}</td>
            </tr>
            {% endfor %}
          {% elif press == 1 %}
          <tr>
            <td>{{datas}}</td>
          </tr>
          {% elif press == 2 %}
          <tr>
            <td>ไม่พบข้อมูล</td>
          </tr>
          {% elif press == 3 %}
          <tr>
            <td>ใส่วันที่ต้องการค้นหา</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{{checkdate}}
{{ans}}
{% endblock%}