.row1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.coverBox {
  width: 33%;
  padding: 0 8px;
}

.Box {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  background: linear-gradient(135deg, #28313b, #485461, #434343, #000);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
  height: 425px;
}

.imageDi {
  width: 100%;
  height: 300px;
}

h5 {
  text-align: center;
<<<<<<< Updated upstream
=======
  padding-top: 1.5rem;
  padding-bottom: 1rem;
>>>>>>> Stashed changes
  font-weight: 750;
  font-size: 20px;
  color: whitesmoke;
}

h5::before {
  content: "";
  position: absolute;
  left: 4;
  bottom: 0;
  height: 3px;
  width: 118px;
  margin-bottom: 10px;
  background: linear-gradient(135deg, #ffffff, white);
}

.buttonDi {
  width: 140px;
  height: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: white;
  background-color: #ffffff;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
<<<<<<< Updated upstream
  margin-left: auto;
  margin-right: auto;
=======
  margin:0 auto;
>>>>>>> Stashed changes
  text-decoration: none;
}

.buttonDi:hover {
  background-color: #a3c0ff;
  box-shadow: 0px 2px 6px whitesmoke;
  color: #fff;
  transform: translateY(-4px);
  text-decoration: none;
}

a .buttonDi {
  text-decoration: none;
}
