@import url("https://fonts.googleapis.com/css?family=Lato:300,400:700");

.headSignup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Topic {
  color: black;
  opacity: 1;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2405em;
  transition: 770ms cubic-bezier(0.51, 0.04, 0.12, 0.99);
  text-align: center;
  margin-right: 1rem;
}

.userLogo {
  width: 10;
  height: 10;
}

/* End of create profile title */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

form {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 25px 30px;
  border-radius: 5px;
}
